annotated_h5/*
annovar_results/*
artificial_samples/*
atomic/*
bam/*
baselines/*
cell_ranger_output/*
copy_kat_results/*
count_matrices/*
decrypted/*
delete_me/*
encrypted/*
error_files/*
filtered_h5/*
gsm_samps/*
integrated_samples/*
maf/*
pseudobulk_barcodes/*
premsim/*
stdout_files/*
temp/*
vartrix_results/*
vcf/*
numbat/*
scripts/.snakemake/*
scripts/.RData
artifical_mtx/*
images/*
infercnv_results/*
scripts/*.mro
scripts/.*
scripts/.*/*
references/refdata-gex-GRCh38-2020-A/
